<section>
     <div class="heritage-trait border-bottom">
        <h2 class="headline">{{localize config.heritageTraitPath}}</h2>
        {{{data.system.heritage.name}}}
        {{#if data.system.heritage}}
            <a class="item-control item-delete ml-2 my-auto" title="{{localize config.heritageDeleteTooltipPath}}"><i class="fas fa-times"></i></a>
            {{^}}   
            <span>{{localize "tinyd6.actor.heritageHink"}}</span>
        {{/if}}
    </div>
</section>