    <section class="traits">
        <div class="d-flex justify-content-between align-items-center headline">
            <h2 class="section-headline m-0">{{localize "tinyd6.actor.traits"}}</h2>
            <div class="floating-action">
                <a class="item-add" data-type="trait">
                    <span class="fas fa-plus"></span>
                </a>
            </div>
        </div>
        <ul class="actor-items px-0">
            {{#each data.system.traits as |trait id|}}
                {{> "systems/tinyd6/templates/tiny-dungeon/partials/trait-block.hbs" trait}}
            {{/each}}
        </ul>
    </section>