<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.gear.name'}}
    {{editor tinyItemDescription target="system.description.value" button=true editable=editable}}
</form>
