<form class="actor-sheet {{classes}} m-0" autocomplete="off">
    <div>
        <div>
            <img src="systems/tinyd6/assets/images/tiny-d-logo.png" alt="tiny dungeon logo">
        </div>
        <div>
            {{#if owner}}
                <div class="mb-3">
                    {{> "systems/tinyd6/templates/partials/roll-bar.hbs" flexClass=""}}
                </div>
            {{/if}}
        </div>
    </div>
</form>